body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.validate-form input.ng-invalid {
    border-style: solid;
    border-width: 1px;
    border-color: #d9534f;
}
* {
    margin: 0;
}
#footer {
    background-color: #F5F5F5;
}
#push, #footer {
    height: 60px;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0px auto -60px
}

#calendar {
    max-width: 900px;
    margin: 0px auto;
}
.typeselect {
    position: absolute;
    margin-left: 150px;
}

.endTime {
    position: absolute;
    margin-left: 200px;
}

.calAlert{
width: 595px; float: right; margin-bottom: 5px;
}
.calXBtn{
float: right; margin-top: -5px; margin-right: -5px;
}
.calWell{
float: left; margin-bottom: 40px;
}
.fc-event.openSesame .fc-event-skin{
background-color: rgb(229, 229, 11);
color: black;
}
.fc-event.customFeed .fc-event-skin{
background-color: rgb(132, 222, 175);
color: black;
}
.calTools{
margin-bottom: 10px;
}