body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.validate-form input.ng-invalid {
    border-style: solid;
    border-width: 1px;
    border-color: #d9534f;
}
* {
    margin: 0;
}
#footer {
    background-color: #F5F5F5;
}
#push, #footer {
    height: 60px;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0px auto -60px
}