<!-- Create Event form partial -->
<!-- still some bugs in the controllers -->
<div class="container">
    <form name="form" class="validate-form" role="form">
        <div ng-show="form.$invalid" class="alert alert-danger" role="alert">Please check that all fields are valid!</div>
        <div class="form-group">
            <label for="eventName">Event Name</label>
            <input type="text" ng-model="info.name" ng-required=true class="form-control" id="eventName" placeholder="Enter Name" />
        </div>
        <div class="form-group" ng-controller="DatepickerCtrl">
            <div class="row">
                <div class="col-xs-6">
                    <label for="eventStartDate">Start Date</label>
                    <p class="input-group">
                        <input type="text" ng-model="info.startDate" class="form-control" id="eventStartDate" datepicker-popup="{{format}}" is-open="startOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="startOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-xs-6">
                    <label for="eventEndDate">End Date</label>
                    <p class="input-group">
                        <input type="text" ng-model="info.endDate" class="form-control" id="eventEndDate" datepicker-popup="{{format}}" is-open="endOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="endOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div> 
        </div>
        <div class="form-group">
            <label for="isAllDay">All Day</label>
            <input type="checkbox" ng-model="info.allDay" id="isAllDay"/>
        </div>
        <!-- for some wierd reason, this doesn't respond to the clear function -->
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label>Start Time</label>
                    <timepicker ng-model="resInfo.startTime" show-meridian="true"></timepicker>
                </div>
                <div class="endTime">
                    <label>End Time</label>
                    <timepicker ng-model="resInfo.endTime" show-meridian="true"></timepicker>
                </div>
            </div>
        </div>
        <!-- TODO: Add recurring functionality -->
        <button class="btn btn-default" ng-click="submit()" ng-disabled="form.$invalid">Submit</button>
        <!-- working -->
        <button class="btn btn-danger" ng-click="clear()">Clear</button>
    </form>
    <pre ng-if="eventInfo">{{eventInfo}}</pre>
</div>