<!-- main.html -->
<!-- homepage stuff, will eventually have the events calendar view -->
<!--<div login-dialog ng-if="!isLoginPage" class="container">-->

<div class="container">
    <div class="starter-template">
        <h1>We're developing!</h1>
        <p class="lead">This site courtesy of Colin Mackey, Evan Paige, and Scott Vaughn</p>
        <p>Check us out on <a href="https://github.com/duffbuster/umwTennisScheduler">Github!</a></p>
    </div>
</div>

<div class="container" ng-controller="databaseCtrl" style="margin-bottom: 20px;">
    <button class="btn btn-default" ng-click="getEvents()">Get Events</button>
    <pre ng-if="events" style="margin-top: 5px;">{{events}}</pre>
    <button class="btn btn-default" ng-click="getReservations()">Get Reservations</button>
    <pre ng-if="reservations" style="margin-top: 5px;">{{reservations}}</pre>
        
</div>